//===========================================================================
// Colors
// ==========================================================================
$color-primary: #3ca22d;
$colour-table-header: #ccc;
$colour-table-border: #e8e8e8;
$list-highlight-color: #f7eeda;
$list-item-hover-color: #fafafa;

$border-radius-primary: 2px;
