.draggable-list {
    overflow-y: auto;
    .extra-items {
        margin-top: 10px;
    }
    ul {
        padding: 0;
        li {
            padding: 3px 0;
        }
    }
    .ant-card-head {
        padding: 18px;
    }
    .ant-card-body {
        padding: 10px 18px 16px !important;
    }
    .disabled-items {
        .ant-tag {
            opacity: 0.5;
            border: 1px dashed #d9d9d9;
        }
    }

    &.fixed-position {
        margin: 0px 10px 15px 5px !important;
        position: fixed !important;
        right: 20px;
        top: 176px;
        width: 30%;
        max-width: 300px;
        height: calc(97vh - 250px);
    }
}

.ant-btn.sort-items {
    &,
    &:hover,
    &:focus {
        background-image: url(../images/sort_both.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: #ccc;
        vertical-align: middle;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        visibility: visible;

        &.sorting_asc {
            background: url('../images/sort_asc.png') no-repeat center center #cccccc;
        }
        &.sorting_desc {
            background: url('../images/sort_desc.png') no-repeat center center #cccccc;
        }
    }
}
