.file-drop-zone {
    .ant-upload-drag {
        margin-bottom: 20px;
    }
    .ant-upload-list {
        margin-bottom: 30px;
    }
}

.upload-encoding .ant-input {
    width: 200px;
    margin: 0 8px;
}

.page-actions-btns {
    margin-top: 20px;
    .ant-btn {
        margin-right: 0 8px;
        margin-bottom: 12px;
    }
}
.upload-encoding {
    margin: 20px 0 30px;
}
.ant-upload-list-item-done {
    color: #14b314;
}
