// Image paths
// ==========================================================================
$path-to-img: '../../images/';
$path-to-actions-img: '#{$path-to-img}actions/';
$path-to-panels-img: '#{$path-to-img}panels/';
$path-to-toolbar-img: '#{$path-to-img}toolbar/';
