& {
    font-size: 13px;
    min-width: 0;
    background-color: $color-light-background;
    overflow: hidden;
}
/*---- Forms ---- */
input,
select,
textarea {
    font-family: inherit;
}
input.text,
select,
textarea {
    height: 38px;
}
//Dropdowns with filter
.ui-select {
    height: 38px;
    .ant-select {
        height: 100%;
        .ant-select-selector {
            height: 100%;
            .ant-select-selection-item {
                line-height: 38px;
            }
        }
    }
}
.ant-select-dropdown {
    z-index: 1000000;
    .ant-select-item {
        line-height: 38px;
    }
}

textarea {
    padding: 5px 7px;
}
select {
    display: inline-block;
    height: 36px;
    padding: 2px 2px 2px 7px;
    vertical-align: 1.6px;
}
option {
    padding-left: 3px;
}

.checkboxField > input {
    margin-left: 8px;
    margin-right: 4px;
    vertical-align: -2px;
}
.button,
.ui-button {
    padding: 12px;
}
.wrapper {
    position: relative;
    z-index: 1;
    @include size(100%);
    overflow: auto;
}
.clearit {
    clear: both;
}
.bottom-separator {
    border-bottom: $border-light;
}
