<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>IQGeo Configuration</title>

        <link rel="stylesheet" href="bundles/styles/config.bundle.css" type="text/css" />
        <link rel="stylesheet" href="modules/custom/style/configStyle.css" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" />
    </head>

    <body>
        <div id="root"></div>
        <script
            type="text/javascript"
            src="bundles/configuration/config.bundle.js?${myworld_version}"
        ></script>
    </body>
</html>
